  <h1>Signup for Eventlite</h1>
  <form id="signup-form">
    <input type="email" placeholder="Email" name="email" id="email"><br>
    <input type="password" placeholder="Create a password" name="password" id="password"><br>
    <input type="submit" value="Signup">
  </form>